<div class="container">	
  <div class="row">
  <!-- login modal -->
    <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <form class="col s6">
      <div class="row">
        <div class="input-field">
          <input id="email" type="email" ng-model="register.email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="password" type="password" ng-model="register.password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div>
      <a href ng-click=""><button class="btn waves-effect waves-light" type="submit" name="action">
      <i class="material-icons right">Login</i>
   </button>
    </a>
    </div>
    </form>
      </div>
      <div class="modal-footer">
          <a href="#!" ng-click="loginUser(login)" class=" modal-action modal-close waves-effect waves-green btn-flat">LOGIN!</a>
        </div>
    </div>
    

  <!-- registar modal-->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <form class="col s6">
      <div class="row">
        <div class="input-field">
          <input id="email" type="email" ng-model="register.email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="password" type="password" ng-model="register.password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="password" type="text" ng-model="register.username">
          <label>Username</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <a href="#!" ng-click="registerUser(register)" class=" modal-action modal-close waves-effect waves-green btn-flat">Register!</a>
    </div>
    </div>
    </div>
  	<div class="row">
    <div class="col s3">
    <div class="husky">

  <div class="mane">
    <div class="coat"></div>
  </div>
  <div class="body">
    <div class="head">
      <div class="ear"></div>
      <div class="ear"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="eye"></div>
        <div class="nose"></div>
        <div class="mouth">
          <div class="lips"></div>
          <div class="tongue"></div>
        </div>
      </div>
    </div>
    <div class="torso"></div>
  </div>
  <div class="legs">
    <div class="front-legs">
      <div class="leg"></div>
      <div class="leg"></div>
    </div>
    <a class="waves-effect waves-light btn" data-target="modal2">Login</a>
    <div class="hind-leg">
    </div>
  </div>
  <div class="tail">
    <div class="tail">
      <div class="tail">
        <div class="tail">
          <div class="tail">
            <div class="tail">
              <div class="tail"><h3>bork</h3><a class="waves-effect waves-light btn" data-target="modal1">Register</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>



</div>


<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none">
  <defs>

    
    <filter id="squiggly-0">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="0"/>
      <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="2" />
    </filter>
    <filter id="squiggly-1">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="1"/>
<feDisplacementMap in="SourceGraphic" in2="noise" scale="3" />
    </filter>
    
    <filter id="squiggly-2">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="2"/>
<feDisplacementMap in="SourceGraphic" in2="noise" scale="2" />
    </filter>
    <filter id="squiggly-3">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="3"/>
<feDisplacementMap in="SourceGraphic" in2="noise" scale="3" />
    </filter>
    
    <filter id="squiggly-4">
      <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="4"/>
<feDisplacementMap in="SourceGraphic" in2="noise" scale="1" />
    </filter>
  </defs> 
</svg>
	
	




    
