
		<button ng-click="setLoginContainer()">Login</button>
		
	
	

<div class="container">
  <div class="row">
    <form ng-show="loginContainer" class="col s9">
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" ng-model="register.email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" ng-model="register.password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div>
      <a href ng-click="loginUser(login)"><button class="btn waves-effect waves-light" type="submit" name="action">
    	<i class="material-icons right">Login</i>
 	 </button>
		</a>
		</div>
    </form>



    <a class="waves-effect waves-light btn" data-target="modal1">REgister</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <form class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" ng-model="register.email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" ng-model="register.password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="text" ng-model="register.username">
          <label>Username</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <a href="#!" ng-click="registerUser(register)" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
    </div>
    
  </div>

    
  </div>