<div class="container" ng-controller="SearchCtrl">

	<div class="row">
		<h2>bark bark woof woof</h2>
	            <input type="text" placeholder="Search" ng-model="userInput">
	            
	                <button ng-click="showDogPark(userInput)">
	                    BUTTS
	                </button>
	           
	        </div>


<div class="row"  ng-repeat="dog in result">
        <div class="col s12 m5">
        <div class="card-panel teal">
        <span class="card-title">{{dog.name}}</span>

          <span class="white-text">{{dog.formatted_address}}
          </span>
          <a href ng-click="addFavorite(dog)">Add to Favorites!</a>
        </div>
        
      </div>
          
            
      </div>

	


</div>





<!-- <a ng-href="#/users/profile/{{profile.id}}"><button>Go To Profile</button></a> -->