<div class="container">
	<!-- dog park search field -->
    <div class="row">
        <form>
            <div class="input-field col s6">
            
            <input id="parkSearch" class="controls" ng-model="query" type="text" autocomplete="on">
            <label for="icon_prefix">Find a Dog Park near you</label>
            </div>
            <i class="btn waves-effect waves-light" type="button" ng-click="showDogPark()" ng-disabled="query.length == 0" title="search">search</i>
        </form>
    </div>
<!-- dog park cards/list -->

<div class="row">
    <div ng-repeat="dogpark in markers">
        <div class="col s3 offset-s1">
            <div class="carde-size card-panel grey darken-2">
                <span class="card-title">{{dogpark.title}}</span>
                <p>{{selectedPlace.address}}</p>
                <a href ng-click="viewLocation(dogpark)">View</a>
                <a href ng-click="addFavorite(dogpark)"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
</div>

<div id="viewdetails">
    <p>{{selectedPlace.address}}</p>
    <p>{{selectedPlace.title}}</p>

</div>


<div class="row">
    <div class="mapHolder">
  <div id="map"></div>
</div>
</div>





    
</div>