<div class="container">
    <div class="row">
        <span class="right"><a class="waves-effect waves-light btn dk-blue" data-target="addContactModal">Add Friend</a></span>
        <span class="right"><a class="waves-effect waves-light btn dk-blue" data-target="editUserModal">Edit User</a></span>
    </div> 
    <ul class="collection hoverable" ng-repeat="contact in contacts">
        <li class="collection-item avatar">
            <img ng-src="{{contact.img}}" alt="" class="circle">
            <span class="title"><strong>{{contact.dogname}}</strong></span>
            <span><a href class="contact-btn" ng-click="deleteContact(contact.id)"><i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i></a></span>
            <span><a href class="contact-btn" ng-click="viewContact(contact)" data-target="editContactModal"><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></a></span>
            <p>
                {{contact.ownername}}
                <br>
                <a href>{{contact.phone}}</a>
                <br>
                {{contact.email}}
            </p>
        </li>
    </ul>
    <!-- Edit User Modal -->
    <div id="editUserModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <form>
                <div class="form-group">
                    <label>Pup's Photo:</label>
                    <input type="tel" class="form-control" ng-model="user.dogimg">
                </div>
                <div class="form-group">
                    <label>Dog's Name: </label>
                    <input type="text" class="form-control" ng-model="user.dogname">
                </div>
                <div class="form-group">
                    <label>Hooman's Name:</label>
                    <input type="text" class="form-control" ng-model="user.ownername">
                </div>
                <div class="form-group">
                    <label>Phone:</label>
                    <input type="tel" class="form-control" ng-model="user.phone">
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" ng-model="user.email">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="editUser(user)">Save Changes</a>
        </div>
    </div>

    <!-- Edit Contact Modal -->
    <div id="editContactModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <form>
                <div class="form-group">
                    <label>Pup's Photo:</label>
                    <input type="tel" class="form-control" ng-model="selectedContact.img">
                </div>
                <div class="form-group">
                    <label>Dog's Name: </label>
                    <input type="text" class="form-control" ng-model="selectedContact.dogname">
                </div>
                <div class="form-group">
                    <label>Hooman's Name:</label>
                    <input type="text" class="form-control" ng-model="selectedContact.ownername">
                </div>
                <div class="form-group">
                    <label>Phone:</label>
                    <input type="tel" class="form-control" ng-model="selectedContact.phone">
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" ng-model="selectedContact.email">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="editContact(selectedContact)">Save Changes</a>
        </div>
    </div>

    <!-- Add Contact Modal -->
    <div id="addContactModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <form>
                <div class="form-group">
                    <label>Pup's Photo:</label>
                    <input type="tel" class="form-control" ng-model="newContact.img">
                </div>
                <div class="form-group">
                    <label>Dog's Name: </label>
                    <input type="text" class="form-control" ng-model="newContact.dogname">
                </div>
                <div class="form-group">
                    <label>Hooman's Name:</label>
                    <input type="text" class="form-control" ng-model="newContact.ownername">
                </div>
                <div class="form-group">
                    <label>Phone:</label>
                    <input type="tel" class="form-control" ng-model="newContact.phone">
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" ng-model="newContact.email">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="addContact(newContact)">Add</a>
        </div>
    </div>
</div>