<!-- navbar -->
<div class="navbar-fixed" ng-controller="NavCtrl">
    <nav>
        <div class="nav-wrapper grey darken-2">
            <a href="#!" class="brand-logo center lobster-font-style">off leash</a>
            <ul class="left hide-on-med-and-down" ng-repeat="nav in navItems">
                <li class="vt-font-style"><a href="{{nav.url}}">{{nav.name}}</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="col s12 m6 l8">
    <!-- doggy animation -->
    <div class="dog">
        <div class="ears"></div>
        <div class="body">
            <div class="eyes"></div>
            <div class="beard">
                <div class="mouth">
                    <div class="tongue"></div>
                </div>
            </div>
            <div class="belt">
                <div class="locket"></div>
                <div class="dot dot1"></div>
                <div class="dot dot2"></div>
                <div class="dot dot3"></div>
                <div class="dot dot4"></div>
                <div class="tag"></div>
            </div>
            <div class="stomach" onmouseover="Materialize.toast('bark', 4000, 'rounded')">
            </div>
            <div class="legs">
                <div class="left"></div>
                <div class="right"></div>
            </div>
        </div>
        <div class="tail">
        </div>
    </div>
</div>